.prose :where(ul > li):not(:where([class~='not-prose'] *))::before {
  list-style: none;
  background: transparent;
}

.prose > [class*='react-tabs__tab--selected'] {
  border-bottom: 2px solid #fa5a28;
  color: #fa5a28;
}
.prose > [class*='react-tabs__tab--selected']:hover {
  background: #f8f8f8;
  border-radius: 10px 10px 0px 0px;
}
.prose > li {
  cursor: pointer;
  padding-left: 0px;
  width: 147px;
  text-align: center;
  margin: 0px;
  padding-bottom: 10px;
}
.prose > li:not([class*='react-tabs__tab--selected']):hover {
  background: #f8f8f8;
  border-radius: 10px;
}
